<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
    <nav layout:fragment="sidebar()" id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" href="/">
                <span class="align-middle">Learn MVC</span>
            </a>

            <ul class="sidebar-nav nav d-block">
                <li class="sidebar-header">
                    Pages
                </li>

                <li class="sidebar-item">
                    <span class="sidebar-link w-100 text-start active" data-bs-toggle="pill" data-bs-target="#company">
                        <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Company</span>
                    </span>
                </li>
                <li class="sidebar-item">
                    <span class="sidebar-link w-100 text-start" data-bs-toggle="pill" data-bs-target="#item" >
                        <i class="align-middle" data-feather="package"></i> <span class="align-middle">Item</span>
                    </span>
                </li>
                <li class="sidebar-item">
                    <span class="sidebar-link w-100 text-start" data-bs-toggle="pill" data-bs-target="#transaction" >
                        <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Transaction</span>
                    </span>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>