<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
    <div layout:fragment="item()" class="d-grid gap-4">
        <div class="card mb-0">
            <div class="card-body">
                <div class="mb-3">
                    <label for="item-name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="item-name">
                </div>
                <div class="row row-cols-2 mb-3">
                    <div class="col">
                        <label for="item-price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="item-price">
                    </div>
                    <div class="col">
                        <label for="item-stock" class="form-label">Stock</label>
                        <input type="email" class="form-control" id="item-stock">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="item-desc" class="form-label">Description</label>
                    <textarea class="form-control" id="item-desc"></textarea>
                </div>
                <div class="mt-3 float-end">
                    <button type="submit" id="btn-store-item" class="btn btn-dark">Submit</button>
                </div>
            </div>
        </div>

        <div class="card mb-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table id="table-item" class="display">
                            <thead>
                            <tr>
                                <th style="width:10px;">No.</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Stock</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>